# my stuff
build/
wbuild/
wbuild64/
leveldb-mcpe/
libnbtplusplus/
Backup/
Research/
openlayers

*~
update_win.sh

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
