<!DOCTYPE html>
<html>
  <head>
    <title>MCPE Viz Viewer</title>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://openlayers.org/en/v3.9.0/css/ol.css" type="text/css" />
    <script src="http://openlayers.org/en/v3.9.0/build/ol.js"></script>
    <link rel="stylesheet" href="mcpe_viz.css" type="text/css" />
    <script src="mcpe_viz.js"></script>
    <script src="%JSFILE%"></script>
  </head>
  <body>
    <div class="container-fluid" data-role="content">
      <div class="row-fluid">
	<div class="span12">
	  <div id="map" class="map"></div>
	</div>
      </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom" data-role="navbar">
      <div class="container-fluid">

	<div class="btn-group dropup">
	  <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" title="Select Dimension">
	    <span id="dimensionSelectName">Dimension</span>
	  <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    <li><a href="#" class="dimensionSelect" data-id="0">Overworld</a></li>
	    <li><a href="#" class="dimensionSelect" data-id="1">Nether</a></li>
	  </ul>
	</div>

	<div class="btn-group">
	  <button type="button" class="btn btn-primary mytooltip" id="layerPrev" title="Go to Lower Layer">&lt;</button>
	  <div class="btn-group dropup">
	    <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" title="Select Layer">
	      <span id="layerNumber">Go to Layer</span>
	    <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a onclick="layerGoto(0);" href="#">Layer 0</a></li>
	      <li><a onclick="layerGoto(10);" href="#">Layer 10</a></li>
	      <li><a onclick="layerGoto(20);" href="#">Layer 20</a></li>
	      <li><a onclick="layerGoto(30);" href="#">Layer 30</a></li>
	      <li><a onclick="layerGoto(40);" href="#">Layer 40</a></li>
	      <li><a onclick="layerGoto(50);" href="#">Layer 50</a></li>
	      <li><a onclick="layerGoto(60);" href="#">Layer 60</a></li>
	      <li><a onclick="layerGoto(63);" href="#">Layer 63 (Sea Leavel)</a></li>
	      <li><a onclick="layerGoto(70);" href="#">Layer 70</a></li>
	      <li><a onclick="layerGoto(80);" href="#">Layer 80</a></li>
	      <li><a onclick="layerGoto(90);" href="#">Layer 90</a></li>
	      <li><a onclick="layerGoto(100);" href="#">Layer 100</a></li>
	      <li><a onclick="layerGoto(110);" href="#">Layer 110</a></li>
	      <li><a onclick="layerGoto(120);" href="#">Layer 120</a></li>
	      <li><a onclick="layerGoto(127);" href="#">Layer 127</a></li>
	    </ul>
	  </div>
	  <button type="button" class="btn btn-primary mytooltip" id="layerNext" title="Go to Higher Layer">&gt;</button>
	</div>

	<div class="btn-group dropup">
	  <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" title="Select Main Image">
	    <span id="imageSelectName">Main Image</span>
	  <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    <li><a href="#" class="imageSelect" data-id="0">Overview</a></li>
	    <li><a href="#" class="imageSelect" data-id="1">Biome</a></li>
	    <li><a href="#" class="imageSelect" data-id="2">Height</a></li>
	    <li><a href="#" class="imageSelect" data-id="3">Block Light</a></li>
	    <li><a href="#" class="imageSelect" data-id="4">Grass Color</a></li>
	  </ul>
	</div>
	
	<div class="btn-group dropup">
	  <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" title="Show Passive Mobs">
	    Passive Mobs
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
	    <li><a href="#" class="entityToggle" data-id="10">Chicken</a></li>
	    <li><a href="#" class="entityToggle" data-id="11">Cow</a></li>
	    <li><a href="#" class="entityToggle" data-id="12">Pig</a></li>
	    <li><a href="#" class="entityToggle" data-id="13">Sheep</a></li>
	    <li><a href="#" class="entityToggle" data-id="14">Wolf</a></li>
	    <li><a href="#" class="entityToggle" data-id="15">Villager</a></li>
	    <li><a href="#" class="entityToggle" data-id="16">Mooshroom</a></li>
	    <li><a href="#" class="entityToggle" data-id="17">Squid</a></li>
	    <li><a href="#" class="entityToggle" data-id="19">Bat</a></li>
	    <li><a href="#" class="entityToggle" data-id="20">Iron Golem</a></li>
	    <li><a href="#" class="entityToggle" data-id="21">Snow Golem</a></li>
	    <li><a href="#" class="entityToggle" data-id="22">Ocelot</a></li>
	    <li><a href="#" class="entityToggle" data-id="63">Player</a></li>
	    <li><a href="#" class="entityToggle" data-id="64">Dropped Item</a></li>
	    <li><a href="#" class="entityToggleRemoveAll">Remove All</a></li>
          </ul>
	</div>

	<div class="btn-group dropup">
	  <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" title="Show Aggressive Mobs">
	    Aggressive Mobs
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
	    <li><a href="#" class="entityToggle" data-id="32">Zombie</a></li>
	    <li><a href="#" class="entityToggle" data-id="33">Creeper</a></li>
	    <li><a href="#" class="entityToggle" data-id="34">Skeleton</a></li>
	    <li><a href="#" class="entityToggle" data-id="35">Spider</a></li>
	    <li><a href="#" class="entityToggle" data-id="36">Zombie Pigman</a></li>
	    <li><a href="#" class="entityToggle" data-id="37">Slime</a></li>
	    <li><a href="#" class="entityToggle" data-id="38">Enderman</a></li>
	    <li><a href="#" class="entityToggle" data-id="39">Silverfish</a></li>
	    <li><a href="#" class="entityToggle" data-id="40">Cave Spider</a></li>
	    <li><a href="#" class="entityToggle" data-id="41">Ghast</a></li>
	    <li><a href="#" class="entityToggle" data-id="42">Magma Cube</a></li>
	    <li><a href="#" class="entityToggle" data-id="43">Blaze</a></li>
	    <li><a href="#" class="entityToggle" data-id="44">Zombie Villager</a></li>
	    <li><a href="#" class="entityToggle" data-id="63">Player</a></li>
	    <li><a href="#" class="entityToggleRemoveAll">Remove All</a></li>
          </ul>
	</div>

	<div class="btn-group dropup">
	  <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" title="Show Objects">
	    Objects
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
	    <li><a href="#" class="tileEntityToggle" data-id="Sign">Sign</a></li>
	    <li><a href="#" class="tileEntityToggle" data-id="Chest">Chest</a></li>
	    <li><a href="#" class="tileEntityToggle" data-id="MobSpawner">Mob Spawner</a></li>
	    <li><a href="#" class="tileEntityToggle" data-id="NetherPortal">Nether Portal</a></li>
	    <li><a href="#" class="tileEntityToggleRemoveAll">Remove All</a></li>
          </ul>
	</div>

	<div class="navbar-header navbar-right">
	  <a class="navbar-brand" target="_blank" href="https://github.com/Plethora777/mcpe_viz">&nbsp;MCPE Viz Viewer by Plethora777</a>
	</div>
      </div>
    </div>

    <div class="hide">
      <div id="popover" class="mypopover"></div>
    </div>

    <div id="throbber" class="ui-corner-all" style="display:none;">
      <div id="throbber-content">
	<div class="throbber-image"><b>Loading...</b><br/><span id="throbber-msg"></span></div>
      </div>
    </div>

  </body>
</html>
